.wrapper {
  display: flex;
  margin-top: 70px;
  padding-top: 15px;
  column-gap: 10px;
  overflow-x: scroll;
  margin-bottom: 20px;
}
.story {
  text-align: center;
}
.story_profile {
  position: relative;
  overflow: hidden;
  width: 62px;
  cursor: pointer;
  border: 2px solid #fbaa47;
  border-radius: 50%;
  aspect-ratio: 1;
}
.name {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content_wrapper {
  display: none;
  height: 100%;
}
.content_wrapper.active {
  display: flex;
}
.tab {
  margin-right: 10px;
  height: 15px;
  position: absolute;
  top: 0;
  list-style: none;
  background-color: #c7c7cc;
}
.content {
  display: block;
  position: relative;
  min-width: 100%;
}
