.input {
  width: 320px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.06);
  position: relative;
  overflow: hidden;
}
.input::before {
  content: "";
  width: 1.5rem;
  height: inherit;
  animation: skeleton linear normal infinite 1.4s;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.11);
}
.sm {
  width: 160px;
}
.md {
  width: 320px;
}
.lg {
  width: 480px;
}
.max {
  width: 100vw;
}

@keyframes skeleton {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100vw, 0, 0);
  }
}
