.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  gap: 5px;
  margin-top: 10px;
}
.skeleton {
  aspect-ratio: 1/1;
  animation: skeleton linear 1s infinite alternate;
}

@keyframes skeleton {
  0% {
    background-color: rgba(0, 0, 0, 0.1);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
