.wrapper {
  display: flex;
  margin-top: 70px;
  padding-top: 15px;
  column-gap: 10px;
}
.story_profile {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #fbaa47;
  border-radius: 50%;
  padding: 2px;
}
