.profile {
  display: flex;
  column-gap: 8px;
  align-items: center;
}
.imgContainer {
  position: relative;
  aspect-ratio: 1;
  height: 70vh;
}
.followBtn {
  background: none;
  color: #0175fc;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  padding: 10px;
  border: none;
}
