.container {
  display: grid;
  grid-gap: 5px;
  gap: 5px;
}
.grid_1 {
  grid-template-columns: none;
}
.grid_2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid_3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid_4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid_5 {
  grid-template-columns: repeat(5, 1fr);
}

.skeleton {
  height: 100%;
  aspect-ratio: 1/1;
  animation: skeleton linear 1s infinite alternate;
}

@keyframes skeleton {
  0% {
    background-color: rgba(0, 0, 0, 0.1);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
