.wrapper {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  background-color: #fafafa;
  z-index: 999;
}
.pointer {
  cursor: pointer;
}
