.modal_overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.modal_content {
  width: 50vw;
  height: 50vh;
  position: absolute;
  padding-top: 20px;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate3d(-50%, -50%, 0);
  background-color: rgba(255, 255, 255);
}

.closeBtn {
  position: absolute;
  top: 25px;
  right: 0;
  box-sizing: border-box;
  z-index: 10;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.5);
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  font-size: 20px;
}
